[client-server]
# Port or socket location where to connect
port = 3306
socket = /run/mysqld/mysqld.sock


[mysqld]
datadir=/var/lib/mysql

innodb_buffer_pool_size=1G
query_cache_size=64M
max_connections=200
table_open_cache=400
thread_cache_size=50
# Import all .cnf files from configuration directory

!includedir /etc/mysql/mariadb.conf.d/
!includedir /etc/mysql/conf.d/
